<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Movie App</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-searchbar [(ngModel)]="searchTerm" (ionChange)="searchChanged($event)"></ion-searchbar>

  <ion-item>
    <ion-label>Select SearchType</ion-label>
    <ion-select [(ngModel)]="type" (ionChange)="searchChanged($event)">
      <ion-select-option value="">All</ion-select-option>
      <ion-select-option value="movie">Movie</ion-select-option>
      <ion-select-option value="series">Series</ion-select-option>
      <ion-select-option value="game">Game</ion-select-option>
    </ion-select>
  </ion-item>


  <ion-list>
    <ion-item button *ngFor="let item of (results | async)" [routerLink]="['/', 'movies', item.imdbID]">
      <ion-card>
        <ion-img [src]="item.Poster" *ngIf="item.Poster != 'N/A'"></ion-img>
        <ion-card-header>
          <ion-card-subtitle>
            <ion-icon *ngIf="item.Type == 'movie'" name="videocam"></ion-icon>
            <ion-icon *ngIf="item.Type == 'series'" name="tv"></ion-icon>
            <ion-icon *ngIf="item.Type == 'game'" name="game-controller-outline"></ion-icon>
          </ion-card-subtitle>
          <ion-card-title>{{item.Title}}</ion-card-title>
          
          
        </ion-card-header>
      
        
      </ion-card>
    </ion-item>      
  </ion-list>
</ion-content>
